<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{#if page.title}}{{page.title}} - {{/if}}{{site.title}}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url }}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.cssFile }}">

<!-- Custom Font -->
<link href='http://fonts.googleapis.com/css?family=Lora|Oswald' rel='stylesheet' type='text/css'>

{{ inc src="_inc/banner.hbs" }}