<nav ss-Social ss-Nav="footer inline">
    <a href="{{ site.github.url }}">
        {{ inc src="_inc/icon.hbs" type="github" }}
        <span class="username">{{ site.github.username }}</span>
    </a>
    <a href="{{ site.twitter.url }}">
        {{ inc src="_inc/icon.hbs" type="twitter" }}
        <span class="username">{{ site.twitter.username }}</span>
    </a>
</nav>
